<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>OAuth Tutorials</title>
  <style>
    body {
      font-family: arial;
      margin: 0;
    }

    nav {
      background: #ff5353;
      padding: 20px 10px;
    }

    nav ul {
      max-width: 960px;
      margin: 0 auto;
      padding: 0;
    }

    nav li {
      list-style-type: none;
      display: inline-block;
      margin: 0 10px 0 0;
    }

    nav a {
      color: #fff;
      font-size: 18px;
      background: rgba(255, 255, 255, 0.2);
      text-decoration: none;
      padding: 10px;
      display: block;
    }

    main,
    header {
      max-width: 960px;
      margin: 30px auto;
      padding: 0 10px;
      color: #333;
    }
  </style>
</head>

<body>
  <nav>
    <ul>
      <!-- <li><a href="/auth/logout">Log out</a></li>
      <li><a href="/auth/login">Log in</a></li> -->
      <% if (usuario) { %>
        <li><a href="/auth/logout">Log out</a></li>
        <% } else { %>
          <li><a href="/auth/login">Log in</a></li>
          <%} %>
            <li><a href="/">Homepage</a></li>
            <li><a href="/profile">Profile</a></li>
    </ul>
  </nav>
  <header>
    <h1>Mascotapps </h1>
    <h2>Homepage</h2>
  </header>
  <main>
    <p>Un lindo mensaje de bienvenida a la homepage, con unos videitos de fondo que te dan unas ganas tremendas de tener
      un perro, por mas de que vivas en un departamento de 20 metros cuadrados, en medio de capital federal y tengas que
      dejar al perro solo todo el día.. </p>
  </main>
</body>

</html>