<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>OAuth Tutorials</title>
  <style>
    body {
      font-family: arial;
      margin: 0;
    }

    nav {
      background: #ff5353;
      padding: 20px 10px;
    }

    nav ul {
      max-width: 960px;
      margin: 0 auto;
      padding: 0;
    }

    nav li {
      list-style-type: none;
      display: inline-block;
      margin: 0 10px 0 0;
    }

    nav a {
      color: #fff;
      font-size: 18px;
      background: rgba(255, 255, 255, 0.2);
      text-decoration: none;
      padding: 10px;
      display: block;
    }

    main,
    header {
      max-width: 960px;
      margin: 30px auto;
      padding: 0 10px;
      color: #333;
    }
  </style>
</head>

<body>
  <nav>
    <ul>
      <% if (usuario) { %>
        <li><a href="/auth/logout">Log out</a></li>
        <% } else { %>
          <li><a href="/auth/login">Log in</a></li>
          <%} %>
            <li><a href="/">Homepage</a></li>
    </ul>
  </nav>
  <header>
    <!-- #19 edito esta etiqueta para que pueda recibir data del res.render de la ruta /profile/  -->
    <h1>Bienvenido a su perfíl, <%= usuario.username %>
    </h1>

  </header>
  <main>
    <p>Algo de información sacado de tu profile... o de tu perfil en la Data Base...</p>
    <img src="<%= usuario.thumbnail %>" alt="la foto de perfil thumbnail">
  </main>
</body>

</html>